.panel-heading {
	color: #2B3E51;
}

.jumbotron {
	background-color: #20325A;
	color: white;
	text-align: center;
}
}

h1 {
	background-color: #20325A;
	color: white;
}

select {
	width: 50% ;
}

.width-property{
	width: 375px;
}
